@import url('@fontsource/roboto');
body {
  font-family: 'Roboto', sans-serif;
}

.main-comp {
  min-width: fit-content;
  min-height: 85vh;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;

  display: flex;
  justify-content: space-around;
}
